@font-face {
    font-family: 'Jost';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/jost-v9-latin-600.woff2') format('woff2'),
         url('../fonts/jost-v9-latin-600.woff') format('woff'),
         url('../fonts/jost-v9-latin-600.ttf') format('truetype'),
  }
  @font-face {
    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/jost-v9-latin-regular.woff2') format('woff2'),
         url('../fonts/jost-v9-latin-regular.woff') format('woff'),
         url('../fonts/jost-v9-latin-regular.ttf') format('truetype'),
  }
  @font-face {
    font-family: 'Jost';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/jost-v9-latin-700.woff2') format('woff2'),
         url('../fonts/jost-v9-latin-700.woff') format('woff'),
         url('../fonts/jost-v9-latin-700.ttf') format('truetype'),
  }
  @font-face {
    font-family: 'Jost';
    font-style: italic;
    font-weight: 400;
    src: url('../fonts/jost-v9-latin-italic.woff2') format('woff2'),
         url('../fonts/jost-v9-latin-italic.woff') format('woff'),
         url('../fonts/jost-v9-latin-italic.ttf') format('truetype'),
  }

@font-face {
    font-family: 'Spartan';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/spartan-v7-latin-700.woff2') format('woff2'),
         url('../fonts/spartan-v7-latin-700.woff') format('woff'),
         url('../fonts/spartan-v7-latin-700.ttf') format('truetype'),
  }