.button{
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #333136;
    background-color: #fff;
    padding: 16px 25px;
    border-radius: 8px;
    border: none;

    &:hover{
        background: #FFAD9B;
        color: #fff;
    }

    &:active{
        opacity: 0.6;
    }
}