.button{
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 16px 25px;
    background: #FFAD9B;
    border-radius: 8px;
    border: none;
}