.types {
    padding: 80px 0;

    &__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__web {
        display: block;
        background-image: url("../images/web-design.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        max-width: 541px;
        max-height: 640px;
        border-radius: 15px;
        text-decoration: none;
        padding: 273px 136px;
        text-align: center;

        &:hover {
            box-shadow: 541px 0 inset rgba(240, 111, 82, 0.6);
        }
    }

    &__app {
        display: block;
        background-image: url("../images/app-design.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 15px;
        max-width: 541px;
        max-height: 308px;
        text-decoration: none;
        text-align: center;
        padding: 107px 143px;
        margin-bottom: 24px;

        &:hover {
            box-shadow: 541px 0 inset rgba(240, 111, 82, 0.6);
        }
    }

    &__graphic {
        display: block;
        background-image: url("../images/graphic-design.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 15px;
        max-width: 541px;
        max-height: 308px;
        height: 100%;
        width: 100%;
        text-decoration: none;
        text-align: center;
        padding: 107px 88px;

        &:hover {
            box-shadow: 541px 0 inset rgba(240, 111, 82, 0.6);
        }
    }

    &__item-title {
        font-weight: 500;
        font-size: 40px;
        line-height: 48px;
        text-align: center;
        letter-spacing: 2px;
        color: #fff;
        text-transform: uppercase;
        height: 100%;
        width: 100%;
        margin: 0;
        margin-bottom: 1.5rem;
    }

    &__item-desc {
        font-weight: 500;
        font-size: 15px;
        line-height: 22px;
        letter-spacing: 5px;
        text-transform: uppercase;
        color: #fff;
        height: 100%;
        width: 100%;
        margin: 0;
    }
}